@import url('https://fonts.googleapis.com/css2family=Gloria+Hallelujah&family=Patrick+Hallelujah');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Gloria Hallelujah',cursive;
    color: #2b2b2b ;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    }
header {
    display: flex;
    align-items: center;
    padding: 8 rem;
    height: 30vh;
    background-image: url('../img/morty.jpg');
    background-size: cover;
    background-position: botton;
}
header .main-title{
    font-family:'Patrick Hand', cursive;
    color: snow;
    font-size: 5rem;
    text-align:left

}
footer {
    display: grid;
    place-items: center;
    padding: 4rem;
    font-size: 1.2rem;
    background-color: #263546;
    color:snow
}